<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keiis.hanjul">

    <!-- Network Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.UserActivity"
            android:windowSoftInputMode="adjustResize|adjustPan"
            />
        <activity android:name=".user.UserConfirmActivity" />
        <activity android:name=".manager.ManagementActivity"></activity>
        <activity android:name=".manager.ManagerActivity"></activity>
        <activity android:name=".judgement.JudgementActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />
        <activity android:name=".organazation.PlayerManagerActivity" />
        <activity android:name=".organazation.OrganizationActivity"></activity>
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".judgement.RecordActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />
        <activity android:name=".organazation.DividendActiviy" />
        <activity android:name=".organazation.RecordActivity" />
        <activity android:name=".admin.RecordSituationBoardActivity" />
        <activity android:name=".admin.ParticipationStatusActivity"></activity>
        <activity android:name=".organazation.CompetitionSummaryActivity"></activity>
        <activity android:name=".manager.SituationBoardActivity"></activity>
        <activity android:name=".admin.CompetitionManagementActivity"></activity>
    </application>
</manifest>